{% extends "layout.html" %}
{% block title %}
	KSE Courses
{% endblock %}
{% block body %}
	<div class="page-title">
		<span>{{ self.title() }}</span>
		{% if g.user %}
		<div class="pull-right">
			<span><!-- Any button can be here --></span>
		</div>
		{% endif %}
	</div>
   

	<!-- List -->
  	<table class="table table-hover">
		<thead>
  			<tr style="background-color: #6ECCC4;">
  				<th class="hidden-xs">Professor</th>
  				<th><span class="hidden-xs">Course</span>
  					<span class="section-anchor visible-xs" href="/posts">
  						<a href="/posts">Courses</a>
  					</span>
  				</th>
  			</tr>
  		</thead>
  		<tbody>
  			<!-- 이문용 교수님 -->
			<tr class="info">
				<td class="type hidden-xs">
					<strong><a href="{{ url_for('quiz', prof='munyi') }}">Mun Yong Yi</a></strong>
				</td>
				<td class="post-table-title">
					<a href="{{ url_for('quiz', prof='munyi') }}">
						<span class="mobile-post-table-title hidden-xs">Business Intelligence<br>Knowledge Engineering & Intelligent Decision Making</span>
						
						<!-- For Mobile -->
						<div class="visible-xs mobile-post-table-name">
							<strong>
								<span class="post-table-status">
									Business Intelligence<br>
									Knowledge Engineering & Intelligent Decision Making
								</span>
							</strong>
						</div>
						<!-- / For Mobile -->
					</a>
				</td>
			</tr>

			<!-- 윤완철 교수님 -->
			<tr class="info">
				<td class="type hidden-xs">
					<strong><a href="{{ url_for('quiz', prof='wcyoon') }}">Wan Chul Yoon</a></strong>
				</td>
				<td class="post-table-title">
					<a href="{{ url_for('quiz', prof='wcyoon') }}">
						<span class="mobile-post-table-title hidden-xs">Cognitive Engineering<br>Human Decision Making & Support</span>
						
						<!-- For Mobile -->
						<div class="visible-xs mobile-post-table-name">
							<strong>
								<span class="post-table-status">
									Cognitive Engineering<br>
									Human Decision Making & Support
								</span>
							</strong>
						</div>
						<!-- / For Mobile -->
					</a>
				</td>
			</tr>
			
			<!-- 이의진 교수님 -->
			<tr class="info">
				<td class="type hidden-xs">
					<strong><a href="{{ url_for('quiz', prof='uclee') }}">Uichin Lee</a></strong>
				</td>
				<td class="post-table-title">
					<a href="{{ url_for('quiz', prof='uclee') }}">
						<span class="mobile-post-table-title hidden-xs">Mobile and Pervasive Computing for Knowledge Services<br>Social Computing Systems Design and Analysis</span>
						
						<!-- For Mobile -->
						<div class="visible-xs mobile-post-table-name">
							<strong>
								<span class="post-table-status">
									Mobile and Pervasive Computing for Knowledge Services<br>
									Social Computing Systems Design and Analysis
								</span>
							</strong>
						</div>
						<!-- / For Mobile -->
					</a>
				</td>
			</tr>
			
			<!-- 이재길 교수님 -->
			<tr class="info">
				<td class="type hidden-xs">
					<strong><a href="{{ url_for('quiz', prof='jaegil') }}">Jae-Gil Lee</a></strong>
				</td>
				<td class="post-table-title">
					<a href="{{ url_for('quiz', prof='jaegil') }}">
						<span class="mobile-post-table-title hidden-xs">Data Mining and Knowledge Discovery<br>Data Mining for Social Networks<br>Analytical Methodologies for Big Data</span>
						
						<!-- For Mobile -->
						<div class="visible-xs mobile-post-table-name">
							<strong>
								<span class="post-table-status">
									Data Mining and Knowledge Discovery<br>
									Data Mining for Social Networks<br>
									Analytical Methodologies for Big Data
								</span>
							</strong>
						</div>
						<!-- / For Mobile -->
					</a>
				</td>
			</tr>
			
			<!-- 세게브 교수님 -->
			<tr class="info">
				<td class="type hidden-xs">
					<strong><a href="{{ url_for('quiz', prof='aviv') }}">Aviv Segev</a></strong>
				</td>
				<td class="post-table-title">
					<a href="{{ url_for('quiz', prof='aviv') }}">
						<span class="mobile-post-table-title hidden-xs">
							Knowledge Structure and Modeling<br>
							Knowledge Service Design Using Web Technologies
						</span>
						
						<!-- For Mobile -->
						<div class="visible-xs mobile-post-table-name">
							<strong>
								<span class="post-table-status">
									Knowledge Structure and Modeling<br>
									Knowledge Service Design Using Web Technologies
								</span>
							</strong>
						</div>
						<!-- / For Mobile -->
					</a>
				</td>
			</tr>
			
			<!-- 학과 상식 -->
			<tr class="success">
				<td class="type hidden-xs">
					<strong><a href="{{ url_for('quiz', prof='kse') }}">KSE</a></strong>
				</td>
				<td class="post-table-title">
					<a href="{{ url_for('quiz', prof='kse') }}">
						<span class="mobile-post-table-title hidden-xs">Section KSE Common Sense</span>
						
						<!-- For Mobile -->
						<div class="visible-xs mobile-post-table-name">
							<strong>
								<span class="post-table-status">
									Section KSE Common Sense
								</span>
							</strong>
						</div>
						<!-- / For Mobile -->
					</a>
				</td>
			</tr>
  		</tbody>
	</table>

{% endblock %}
