<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>{% block title %}Welcome{% endblock %} | KSE THE GENIUS</title>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script>
		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip(); 
		});
	</script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	
</head>
<div class="page">
	<h1>KSE THE GENIUS</h1>

	<ol class="breadcrumb">
		{% if g.user %} 
		<li><a href="{{ url_for('course') }}">Quiz Home</a></li>
		
		<li class="dropdown"><a href="#" class="dropdown-toggle"
			data-toggle="dropdown" role="button" aria-haspopup="true"
			aria-expanded="false">Ranking <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="{{ url_for('ranking') }}">All</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="{{ url_for('ranking', class_id='A') }}">Class A</a></li>
				<li><a href="{{ url_for('ranking', class_id='B') }}">Class B</a></li>
				<li><a href="{{ url_for('ranking', class_id='C') }}">Class C</a></li>
				<li><a href="{{ url_for('ranking', class_id='D') }}">Class D</a></li>
				<li><a href="{{ url_for('ranking', class_id='E') }}">Class E</a></li>
			</ul>
		</li>
		
		<li><a href="{{ url_for('logout') }}">Logout ({{ g.user.username }})</a></li>
		{% else %} 
		<li><a href="{{ url_for('register') }}">Sign Up</a></li>
		<li><a href="{{ url_for('login') }}">Sign In</a></li>
		{% endif %}
	</ol>
	
	{% with flashes = get_flashed_messages() %} {% if flashes %}
	<ul class="flashes">
		{% for message in flashes %}
		<li>{{ message }} {% endfor %}
	</ul>
		{% endif %} 
	{% endwith %}
	
	<div class="body">
		{% block body %}{% endblock %}
	</div>
	
	<div class="footer">Copyright © 2016 KSE Student Union @ KAIST. All rights reserved.</div>
</div>
</html>