{% extends "layout.html" %}
{% block title %}
	KSE Courses
{% endblock %}
{% block body %}
	<div class="page-title">
		<span>{{ self.title() }}</span>
		{% if g.user %}
		<div class="pull-right">
			<span><!-- Any button can be here --></span>
		</div>
		{% endif %}
	</div>
   

	<!-- List -->
  	<table class="table table-hover">
		<thead>
  			<tr style="background-color: #6ECCC4;">
  				<th class="hidden-xs">Course</th>
  				<th><span class="hidden-xs">Professor</span>
  					<span class="section-anchor visible-xs" href="/posts">
  						<a href="/posts">Courses</a>
  					</span>
  				</th>
  				<th>My Badge</th>
  			</tr>
  		</thead>
  		<tbody>
  			<!-- 이문용 교수님 -->
			<tr class="info">
				<td class="type hidden-xs">
					<strong><a href="{{ url_for('quiz', prof='munyi') }}">Business Intelligence / Knowledge Engineering & Intelligent Decision Making</a></strong>
				</td>
				<td class="post-table-title">
					<a href="{{ url_for('quiz', prof='munyi') }}">
						<span class="mobile-post-table-title">Mun Yong Yi</span>
						
						<!-- For Mobile -->
						<div class="visible-xs mobile-post-table-name">
							<strong>
								<span class="post-table-status">
									Business Intelligence / Knowledge Engineering & Intelligent Decision Making
								</span>
							</strong>
						</div>
						<!-- / For Mobile -->
					</a>
				</td>
				<td>
					{{ myinfo['munyi_point'] }}
				</td>
			</tr>

			<!-- 윤완철 교수님 -->
			<tr class="info">
				<td class="type hidden-xs">
					<strong><a href="{{ url_for('quiz', prof='wcyoon') }}">Cognitive Engineering / Human Decision Making & Support</a></strong>
				</td>
				<td class="post-table-title">
					<a href="{{ url_for('quiz', prof='wcyoon') }}">
						<span class="mobile-post-table-title">Wan Chul Yoon</span>
						
						<!-- For Mobile -->
						<div class="visible-xs mobile-post-table-name">
							<strong>
								<span class="post-table-status">
									Cognitive Engineering / Human Decision Making & Support
								</span>
							</strong>
						</div>
						<!-- / For Mobile -->
					</a>
				</td>
				<td>
					{{ myinfo['wcyoon_point'] }}
				</td>
			</tr>
			
			<!-- 이의진 교수님 -->
			<tr class="info">
				<td class="type hidden-xs">
					<strong><a href="{{ url_for('quiz', prof='uclee') }}">Mobile and Pervasive Computing for Knowledge Services / Social Computing Systems Design and Analysis</a></strong>
				</td>
				<td class="post-table-title">
					<a href="{{ url_for('quiz', prof='uclee') }}">
						<span class="mobile-post-table-title">Uichin Lee</span>
						
						<!-- For Mobile -->
						<div class="visible-xs mobile-post-table-name">
							<strong>
								<span class="post-table-status">
									Mobile and Pervasive Computing for Knowledge Services / Social Computing Systems Design and Analysis
								</span>
							</strong>
						</div>
						<!-- / For Mobile -->
					</a>
				</td>
				<td>
					{{ myinfo['uclee_point'] }}
				</td>
			</tr>
			
			<!-- 이재길 교수님 -->
			<tr class="info">
				<td class="type hidden-xs">
					<strong><a href="{{ url_for('quiz', prof='jaegil') }}">Data Mining and Knowledge Discovery / Data Mining for Social Networks / Analytical Methodologies for Big Data</a></strong>
				</td>
				<td class="post-table-title">
					<a href="{{ url_for('quiz', prof='jaegil') }}">
						<span class="mobile-post-table-title">Jae-Gil Lee</span>
						
						<!-- For Mobile -->
						<div class="visible-xs mobile-post-table-name">
							<strong>
								<span class="post-table-status">
									Data Mining and Knowledge Discovery / Data Mining for Social Networks / Analytical Methodologies for Big Data
								</span>
							</strong>
						</div>
						<!-- / For Mobile -->
					</a>
				</td>
				<td>
					{{ myinfo['jaegil_point'] }}
				</td>
			</tr>
			
			<!-- 세게브 교수님 -->
			<tr class="info">
				<td class="type hidden-xs">
					<strong><a href="{{ url_for('quiz', prof='aviv') }}">Knowledge Structure and Modeling / Knowledge Service Design Using Web Technologies</a></strong>
				</td>
				<td class="post-table-title">
					<a href="{{ url_for('quiz', prof='aviv') }}">
						<span class="mobile-post-table-title">Aviv Segev</span>
						
						<!-- For Mobile -->
						<div class="visible-xs mobile-post-table-name">
							<strong>
								<span class="post-table-status">
									Knowledge Structure and Modeling / Knowledge Service Design Using Web Technologies
								</span>
							</strong>
						</div>
						<!-- / For Mobile -->
					</a>
				</td>
				<td>
					{{ myinfo['aviv_point'] }}
				</td>
			</tr>
			
			<!-- 학과 상식 -->
			<tr class="success">
				<td class="type hidden-xs">
					<strong><a href="{{ url_for('quiz', prof='kse') }}">Section KSE Common Sense</a></strong>
				</td>
				<td class="post-table-title">
					<a href="{{ url_for('quiz', prof='kse') }}">
						<span class="mobile-post-table-title">KSE</span>
						
						<!-- For Mobile -->
						<div class="visible-xs mobile-post-table-name">
							<strong>
								<span class="post-table-status">
									Section KSE Common Sense
								</span>
							</strong>
						</div>
						<!-- / For Mobile -->
					</a>
				</td>
				<td>
					{{ myinfo['kse_point'] }}
				</td>
			</tr>
  		</tbody>
	</table>

{% endblock %}
