{% extends "layout.html" %}
{% block title %}Quiz{% endblock %}
{% block body %}
	<div class="page-title">
		<span>{{ prof }}'s Course</span>
	</div>
	
	{% if error %}<div class=error><strong> {{ error }} </strong></div>{% endif %}

	{% if quiz %}
	<div class="bg-info">
		<blockquote>
			<p>{{ quiz.quiz_id }}. {{ quiz.question }}</p>
			<!-- <footer>HINT: This is <cite title="Source Title"> xxx </cite> bhlablha</footer>  -->
		</blockquote>
	</div>
	
	<form action="{{ url_for('quiz_processing') }}" class="form-horizontal" method="post" enctype="multipart/form-data">
	  	
		<div class="form-group">
		
			<div class="col-sm-offset-0 col-sm-12">
				<div class="checkbox" class="form-control">
					<label class="col-sm-12">
						<input type="checkbox" name="answers" value="1"> {{ quiz.answer1 }}
					</label>
				</div>
			</div>
			
			<div class="col-sm-offset-0 col-sm-12">
				<div class="checkbox" class="form-control">
					<label class="col-sm-12">
						<input type="checkbox" name="answers" value="2"> {{ quiz.answer2 }}
					</label>
				</div>
			</div>
			
			<div class="col-sm-offset-0 col-sm-12">
				<div class="checkbox" class="form-control">
					<label class="col-sm-12">
						<input type="checkbox" name="answers" value="3"> {{ quiz.answer3 }} 
					</label>
				</div>
			</div>
			
			<div class="col-sm-offset-0 col-sm-12">
				<div class="checkbox" class="form-control">
					<label class="col-sm-12">
						<input type="checkbox" name="answers" value="4"> {{ quiz.answer4 }}
					</label>
				</div>
			</div>
			
			<input type="hidden" name="prof" value="{{ prof }}">
			<input type="hidden" name="quiz_value" value="{{ quiz.quiz_value }}">
			<input type="hidden" name="user_id" value="{{ g.user.user_id }}">
			
		</div>
	  	
	    <div class="form-group">
    		<div class="col-sm-offset-0 col-sm-8">
      		<button type="submit" class="btn btn-primary">Submit</button>
    		</div>
  		</div>
  	</form>
  	
  	{% else %}
  	<div class="bg-success">
		<blockquote>
			<p>Congratulation! You finished all of {{ prof }}'s quizzes!</p>
			<!-- <footer>HINT: This is <cite title="Source Title"> xxx </cite> bhlablha</footer>  -->
		</blockquote>
	</div>
  	{% endif %}
{% endblock %}
