{% extends "layout.html" %}
{% block title %}
    Ranking
{% endblock %}
{% block body %}
	<div class="page-title">
		<span>{{ self.title() }}</span>
		{% if g.user %}
		<!-- 
		<div class="pull-right">
			<span><a class="btn btn-small btn-primary" href="">글쓰기</a></span>
		</div>
		 -->
		{% endif %}
	</div>

	<!-- 전체 리스트 -->
	<div class="table-responsive">
  	<table class="table table-bordered table-hover">
		<thead>
  			<tr style="background-color: #6ECCC4;">
  				<th></th>
  				<th>Mun Yong Yi</th>
  				<th>Wan Chul Yoon</th>
  				<th>Uichin Lee</th>
  				<th>Jae-Gil Lee</th>
  				<th>Aviv Segev</th>
  				<th>KSE Common Sense</th>
  				<th>Total Ranking</th>
  			</tr>
  		</thead>
  		<tbody>
			
			<!-- 레벨1 -->
			{% for badge, score in total_score.items() %}
			<tr>
				<!-- 배지 -->
				<td class="col-md-1">
					{% if badge=="newbie" %}
						<img src="{{ url_for('static', filename='img/badges/badge_1_newbie.png') }}" alt="Newbie" width="120px">
					{% elif badge=="eager_beaver" %}
						<img src="{{ url_for('static', filename='img/badges/badge_2_eager_beaver.png') }}" alt="Eager Beaver" width="120px">
					{% elif badge=="smarty-pants" %}
						<img src="{{ url_for('static', filename='img/badges/badge_3_smarty-pants.png') }}" alt="Smarty Pants" width="120px">
					{% elif badge=="nerd" %}
						<img src="{{ url_for('static', filename='img/badges/badge_4_nerd.png') }}" alt="Nerd" width="120px">
					{% elif badge=="genius" %}
						<img src="{{ url_for('static', filename='img/badges/badge_5_genius.png') }}" alt="Genius" width="120px">
					{% endif %}
				</td>
				
				{% for prof, rankers in score.items() %}
					<!-- 과목별 순위 -->
					
					<td class="post-table-title col-md-1">
						{% for ranker in rankers %}
							<span class="post-table-title">
								{% if g.user['username'] == ranker['username'] %}
									<span class="bg-info"><strong>{{ ranker['username'] }}</strong></span>
									{% if prof == 'total_point' %}
										({{ ranker['total_point'] }} Points)
									{% endif %}
								{% else %}
									{{ ranker['username'] }}
									{% if prof == 'total_point' %}
										({{ ranker['total_point'] }} Points)
									{% endif %}
								{% endif %}
							</span>
						<br>
						{% endfor %}
					</td>
					
				{% endfor %}
			</tr>
			{% endfor %}
  		</tbody>
	</table>
	</div>
{% endblock %}
