{% extends "layout.html" %}
{% block title %}
	{% if request.endpoint == 'public_request' %}
		All Requests
	{% elif request.endpoint == 'user_timeline' %}
    	{{ profile_user.username }}'s Timeline
	{% else %}
    	My Requests
	{% endif %}
{% endblock %}
{% block body %}
	<div class="page-title">
		<span>{{ self.title() }}</span>
		{% if g.user %}
		<div class="pull-right">
			<span><a class="btn btn-small btn-primary" href="{{ url_for('add_post') }}">글쓰기</a></span>
		</div>
		{% endif %}
	</div>
    
	<!-- 읽고 있는 포스트 -->
	{% if selected_post %}
	<div class="post">
		<!-- 읽고 있는 포스트 제목 -->
	 	<div class="post-title-div" id="{{ selected_post.post_id }}">
		    <div>
				<h4><b>{{ selected_post.title }}</b></h4>
		    </div>
		    {{ selected_post.username }}
	        <span class="pull-right col-md-8">
				<span class="post-date pull-right spacing-right">{{ selected_post.publish_date|datetimeformat }}</span>
				<span class="post-count pull-right spacing-right">{{ selected_post.read_count }}</span>
	        </span>
	 	</div>
	 	
	 	<!-- 읽고 있는 포스트 내용 -->
	 	<div class="post-content-div clearfix">
		    <div class="col-md-12">
		    	<br>
		    	<p>
		    		{{ selected_post.text }}
		    	</p>
		        <p>
			        latitude: {{ selected_post.location_latitude }},
			        longitude: {{ selected_post.location_longitude }}
		        </p>
		        <p>
			        time from: {{ selected_post.accident_date_from }},
			        time to: {{ selected_post.accident_date_to }}
		        </p>
		        
		    </div>
    		<p><br></p>
  		</div>
  		
	 	<!-- 읽고 있는 댓글 -->
	 	<div class="post-comment-table">
	 		<!--  읽고 있는 댓글 내용 -->
			<div class="post-comment" id="comment_id_1377227">
        		<div class="clearfix">
        			<div class="comment-title col-md-3">
          				<a name="comment_1" class="comment-anchor"></a><span>1. 작성자예시</span>
        			</div>
        			<div class="pull-right col-md-5 time-recommend-info">
          				<span class="spacing-right">2015/12/17 12:47 AM</span>
        			</div>
        		</div>

				<div class="clearfix">
			        <div class="comment-content col-md-12">
			            <p>나쁜놈을 잡자!!</p>
			        </div>
        		</div>
        	</div>
      		<br>
			<!-- 읽고 있는 포스트에 댓글 쓰기 : 로그인 상태만 가능 -->       
			<div class="form-comment">
  				<form accept-charset="UTF-8" action="/comments" method="post">
  				<div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="kjEZVjMqEidPd8pxmnKJMbma7BzIBx2nmaaY9J1+LV8="></div>
      				<div class="control-group text required comment_content form-group">
	      				<label class="text required control-label" for="comment_content">
	      				
	      				{{g.user.username}}님의 댓글 쓰기
	      				</label>
      				<div class="controls"><textarea aria-required="true" class="text required form-control" data-container="body" data-content="@글쓴이 = @0 | @댓글1 = @1 | @익명2" data-placement="top" data-toggle="popover" id="comment_content" name="comment[content]" placeholder="잡자 잡아" required="required" rows="3" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 72px;" data-original-title="" title=""></textarea>
      				</div>
      				</div>
      				<input class="btn" name="commit" type="submit" value="댓글달기">
      				<span style="color:red">* 욕설 및 비방은 아니아니 아니대오</span>
				</form>
			</div>
			
		</div> <!-- 읽고 있는 댓글 끝 -->
	</div> <!-- 읽고 있는 포스트 끝 -->
	<p><br></p>
	{% endif %}

	<!-- 전체 리스트 -->
  	<table class="table table-hover">
		<thead>
  			<tr style="background-color: #6ECCC4;">
  				<th class="hidden-xs">작성자</th>
  				<th><span class="hidden-xs">제목</span>
  					<span class="section-anchor visible-xs" href="/posts">
  						<a href="/posts">전체 리스트</a>
  					</span>
  				</th>
  				<th class="hidden-xs">조회</th>
  				<th class="hidden-xs">날짜</th>
  			</tr>
  		</thead>
  		<tbody>
			{% for post in posts %}
			<tr>
				<td class="type hidden-xs">
					<strong><a href="{{ url_for('user_timeline', 
						username=post.username) }}">
					{{ post.username }}</a></strong>
				</td>
				<td class="post-table-title">
					<a href="{{ url_for('public_request', post_id=post.post_id) }}">
						<span class="mobile-post-table-title">{{ post.title }}</span>
						
						<!-- For Mobile -->
						<div class="visible-xs mobile-post-table-name">
							<strong>
								<span class="post-table-status">
									<!-- <a href="{{ url_for('user_timeline', username=post.username) }}">  -->
									{{ post.username }}
								</span>
							</strong>
							
							<span class="post-table-count pull-right spacing-right">0</span>
							<span class="mobile-post-table-date pull-right spacing-right">
								<small>{{ post.publish_date|datetimeformat }}</small>
							</span>
							
						</div>
					
					<!-- /For Mobile -->
					</a>
				</td>
				<td class="type hidden-xs">0</td>
				<td class="type hidden-xs">
					<small>{{ post.publish_date|datetimeformat }}</small>
				</td>
				
			</tr>
  			{% else %}
    			<tr><em>There's no message so far.</em></tr>
  			{% endfor %}
  		</tbody>
	</table>

{% endblock %}
